In [30]:
# Analyze survey records with skims attached

In [1]:
import pandas as pd
import h5py

In [237]:
# Load original dat files
trip = pd.read_csv(r'R:\SoundCastDocuments\2014Estimation\Files_From_Mark_2014\xxxxP14\tripP14.dat',sep=' ')
tour = pd.read_csv(r'R:\SoundCastDocuments\2014Estimation\Files_From_Mark_2014\xxxxP14\tourP14.dat',sep=' ')

In [238]:
tour

,hhno,pno,day,tour,jtindex,parent,subtrs,pdpurp,tlvorig,tardest,...,tautotime,tautocost,tautodist,tripsh1,tripsh2,phtindx1,phtindx2,fhtindx1,fhtindx2,toexpfac
0,300004,1,1,1,0,0,0,5,1300,1515,...,-1,-1,-1,2,1,0,0,0,0,16.51
1,300007,1,1,1,0,0,0,4,905,930,...,-1,-1,-1,1,1,0,0,0,0,3.91
2,300010,1,1,1,0,0,0,2,1030,1140,...,-1,-1,-1,1,2,0,0,0,0,4.16
3,300014,1,1,1,0,0,0,2,645,1730,...,-1,-1,-1,2,1,0,0,0,0,3.91
4,300016,1,1,1,0,0,0,2,1035,1055,...,-1,-1,-1,2,5,0,0,0,0,14.64
5,300018,1,1,1,0,0,0,2,1710,1750,...,-1,-1,-1,1,2,0,0,0,0,3.91
6,300022,1,1,1,0,0,0,1,930,955,...,-1,-1,-1,1,1,0,0,0,0,12.31
7,300022,1,1,2,0,0,0,2,1730,1755,...,-1,-1,-1,1,1,0,0,0,0,12.31
8,300028,1,1,1,0,0,0,2,1400,1515,...,-1,-1,-1,1,3,0,0,0,0,4.16
9,300028,1,1,2,0,0,0,4,1200,1210,...,-1,-1,-1,1,1,0,0,0,0,4.16
10,300031,1,1,1,0,0,0,2,1745,1750,...,-1,-1,-1,1,1,0,0,0,0,14.67
11,300031,1,1,2,0,0,0,6,1510,1630,...,-1,-1,-1,3,1,0,0,0,0,14.67
12,300031,1,1,3,0,0,0,6,2130,2145,...,-1,-1,-1,1,1,0,0,0,0,14.67
13,300033,1,1,1,0,0,0,2,750,845,...,-1,-1,-1,2,1,0,0,0,0,12.78
14,300035,1,1,1,0,0,0,2,750,825,...,-1,-1,-1,1,2,0,0,0,0,14.11
15,300041,1,1,1,0,0,0,2,730,815,...,-1,-1,-1,1,4,0,0,0,0,13.89
16,300042,1,1,1,0,0,0,2,840,910,...,-1,-1,-1,1,2,0,0,0,0,7.92
17,300045,1,1,1,0,0,0,2,1140,1200,...,-1,-1,-1,1,1,0,0,0,0,14.05
18,300048,1,1,1,0,0,0,2,1405,1800,...,-1,-1,-1,2,2,0,0,0,0,12.00
19,300050,1,1,1,0,0,0,2,1000,1015,...,-1,-1,-1,1,2,0,0,0,0,3.91
20,300052,1,1,1,0,0,0,4,2100,2200,...,-1,-1,-1,2,1,0,0,0,0,14.64
21,300058,1,1,1,0,0,0,2,500,530,...,-1,-1,-1,1,1,0,0,0,0,3.91
22,300066,1,1,1,0,0,0,1,700,730,...,-1,-1,-1,1,2,0,0,0,0,12.64
23,300082,1,1,1,0,0,0,2,700,1740,...,-1,-1,-1,4,1,0,0,0,0,7.92
24,300083,1,1,1,0,0,0,2,710,800,...,-1,-1,-1,1,8,0,0,0,0,14.67
25,300085,1,1,1,0,0,0,2,930,945,...,-1,-1,-1,1,1,0,0,0,0,11.86
26,300085,1,1,2,0,0,0,2,1130,1145,...,-1,-1,-1,1,1,0,0,0,0,11.86
27,300085,1,1,3,0,0,0,2,1730,1745,...,-1,-1,-1,1,1,0,0,0,0,11.86
28,300086,1,1,1,0,0,0,2,930,945,...,-1,-1,-1,1,2,0,0,0,0,4.16
29,300086,1,1,2,0,0,0,6,1630,1645,...,-1,-1,-1,1,1,0,0,0,0,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19209,14106084,2,1,3,0,0,0,4,1705,1735,...,-1,-1,-1,2,1,0,0,0,0,499.25
19210,14106084,4,1,1,0,0,0,3,815,825,...,-1,-1,-1,1,1,0,0,0,0,499.25
19211,14106084,4,1,2,0,0,0,3,1105,1445,...,-1,-1,-1,3,1,0,0,0,0,499.25
19212,14106084,5,1,1,0,0,0,2,815,825,...,-1,-1,-1,1,1,0,0,0,0,499.25
19213,14106084,5,1,2,0,0,0,7,1730,1750,...,-1,-1,-1,1,1,0,0,0,0,499.25
19214,14106086,1,1,1,0,0,0,2,935,945,...,-1,-1,-1,1,1,0,0,0,0,243.63
19215,14106086,1,1,2,0,0,0,5,1615,1630,...,-1,-1,-1,1,1,0,0,0,0,243.63
19216,14106086,1,1,3,0,0,0,7,805,810,...,-1,-1,-1,1,1,0,0,0,0,243.63
19217,14106086,1,1,4,0,0,0,7,1845,1900,...,-1,-1,-1,1,1,0,0,0,0,243.63
19218,14106086,2,1,1,0,0,0,2,935,945,...,-1,-1,-1,1,1,0,0,0,0,243.63
19219,14106086,2,1,2,0,0,0,6,1230,1340,...,-1,-1,-1,2,2,0,0,0,0,243.63
19220,14106087,1,1,1,0,0,0,1,730,735,...,-1,-1,-1,1,2,0,0,0,0,197.02
19221,14106087,2,1,1,0,0,1,1,800,845,...,-1,-1,-1,3,2,0,0,0,0,197.02
19222,14106087,2,1,2,0,1,0,1,1240,1245,...,-1,-1,-1,1,1,0,0,0,0,197.02
19223,14106088,1,1,1,0,0,0,1,645,655,...,-1,-1,-1,1,1,0,0,0,0,222.82
19224,14106088,1,1,2,0,0,0,7,1605,1620,...,-1,-1,-1,2,1,0,0,0,0,222.82
19225,14106088,2,1,1,0,0,0,7,1605,1620,...,-1,-1,-1,2,1,0,0,0,0,222.82
19226,14106089,1,1,1,0,0,0,1,800,805,...,-1,-1,-1,1,2,0,0,0,0,186.27
19227,14106089,1,1,2,0,0,0,1,1250,1255,...,-1,-1,-1,1,2,0,0,0,0,186.27
19228,14106089,2,1,1,0,0,0,1,540,615,...,-1,-1,-1,1,2,0,0,0,0,186.27
19229,14106091,1,1,1,0,0,0,1,510,700,...,-1,-1,-1,1,4,0,0,0,0,942.42
19230,14106091,2,1,1,0,0,0,1,455,530,...,-1,-1,-1,2,2,0,0,0,0,942.42
19231,14106092,1,1,1,0,0,0,4,930,1030,...,-1,-1,-1,1,2,0,0,0,0,348.34
19232,14106092,2,1,1,0,0,0,4,930,1030,...,-1,-1,-1,1,2,0,0,0,0,348.34
19233,14106092,3,1,1,0,0,0,4,930,1030,...,-1,-1,-1,1,2,0,0,0,0,348.34
19234,14106093,1,1,1,0,0,1,1,745,845,...,-1,-1,-1,1,1,0,0,0,0,58.64
19235,14106093,1,1,2,0,1,0,1,1110,1130,...,-1,-1,-1,1,1,0,0,0,0,58.64
19236,14106093,1,1,3,0,0,0,7,1845,2035,...,-1,-1,-1,2,1,0,0,0,0,58.64
19237,14106094,1,1,1,0,0,1,1,750,800,...,-1,-1,-1,1,4,0,0,0,0,114.08
19238,14106094,1,1,2,0,1,0,6,1140,1145,...,-1,-1,-1,1,1,0,0,0,0,114.08

In [239]:
# Convert to minutes after midnight

In [241]:
# hr = pd.DataFrame(tour[field].astype('str').apply(lambda row: row[:len(row)-2]).astype('int'))

In [242]:
tour = hhmm_to_mam(tour,field)

In [246]:
tour[field].max()

1439

In [221]:
hr.ix[hr[field] < 3, 'tlvorig']

265      0
427      2
874      1
876      2
1940     2
2425     2
10367    0
11172    2
13398    1
13596    2
15759    1
Name: tlvorig, dtype: int32

In [181]:
0
output_dats = r'R:\SoundCastDocuments\2014Estimation\Files_From_Mark_2014\xxxxP14\time_converted\\'

for field in ['tlvorig','tardest','tlvdest','tarorig']:
    tour = hhmm_to_mam(tour,field)
tour.to_csv(output_dir + 'tour' + 'P14.dat', index=False)

for field in ['deptm','arrtm','endacttm']:
    trip = hhmm_to_mam(trip,field)
trip.to_csv(output_dats + 'trip' + 'P14.dat', index=False)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [151]:
import numpy as np
import math

In [167]:
print trip['arrtm'].min()
print trip['arrtm'].max()

300
2700

In [169]:
print trip['arrtm'].min()
print trip['arrtm'].max()

180
1620

In [152]:
hours = np.asarray(trip['deptm'].apply(lambda row: int(math.floor(row/60))))

In [153]:
hours

array([13, 15, 17, ..., 19, 11, 12], dtype=int64)

In [154]:
trip['deptm']

0      780
1      900
2     1020
3      545
4      630
5      630
6     1050
7     1080
8      405
9     1020
10    1280
11     635
12     645
13     780
14     815
...
54085     900
54086     465
54087    1025
54088     670
54089     790
54090    1125
54091    1205
54092    1320
54093     470
54094     845
54095     945
54096    1030
54097    1150
54098     700
54099     735
Name: deptm, Length: 54100, dtype: int32

In [100]:
df

,hhno,pno,day,tour,half,tseg,tsvid,opurp,dpurp,oadtyp,...,mode,pathtype,dorp,deptm,arrtm,endacttm,travtime,travcost,travdist,trexpfac
0,300004,1,1,1,1,1,1,0,4,1,...,6,3,-1,780,820,900,-1,-1,-1,16.51
1,300004,1,1,1,1,2,2,4,5,4,...,6,3,-1,900,915,1020,-1,-1,-1,16.51
2,300004,1,1,1,2,1,3,5,0,4,...,6,3,-1,1020,1080,1620,-1,-1,-1,16.51
3,300007,1,1,1,1,1,1,0,4,1,...,4,1,1,545,570,630,-1,-1,-1,3.91
4,300007,1,1,1,2,1,2,4,0,4,...,4,1,1,630,640,1620,-1,-1,-1,3.91
5,300010,1,1,1,1,1,1,0,2,1,...,6,3,-1,630,700,1050,-1,-1,-1,4.16
6,300010,1,1,1,2,1,2,2,4,2,...,6,3,-1,1050,1070,1080,-1,-1,-1,4.16
7,300010,1,1,1,2,2,3,4,0,4,...,6,3,-1,1080,1140,1620,-1,-1,-1,4.16
8,300014,1,1,1,1,1,1,0,1,1,...,6,3,-1,405,440,1020,-1,-1,-1,3.91
9,300014,1,1,1,1,2,2,1,2,4,...,6,3,-1,1020,1050,1280,-1,-1,-1,3.91
10,300014,1,1,1,2,1,3,2,0,2,...,6,3,-1,1280,1350,1620,-1,-1,-1,3.91
11,300016,1,1,1,1,1,1,0,2,1,...,1,1,-1,635,640,645,-1,-1,-1,14.64
12,300016,1,1,1,1,2,2,2,2,2,...,1,1,-1,645,655,780,-1,-1,-1,14.64
13,300016,1,1,1,2,1,3,2,5,4,...,1,1,-1,780,795,815,-1,-1,-1,14.64
14,300016,1,1,1,2,2,4,5,5,2,...,1,1,-1,815,820,830,-1,-1,-1,14.64
15,300016,1,1,1,2,3,5,5,2,2,...,1,1,-1,830,835,880,-1,-1,-1,14.64
16,300016,1,1,1,2,4,6,2,1,4,...,1,1,-1,880,890,1035,-1,-1,-1,14.64
17,300016,1,1,1,2,5,7,1,0,4,...,1,1,-1,1035,1045,1620,-1,-1,-1,14.64
18,300018,1,1,1,1,1,1,0,2,1,...,6,3,-1,1030,1070,1220,-1,-1,-1,3.91
19,300018,1,1,1,2,1,2,2,7,2,...,1,1,-1,1220,1225,1235,-1,-1,-1,3.91
20,300018,1,1,1,2,2,3,7,0,4,...,9,1,-1,1235,1255,1620,-1,-1,-1,3.91
21,300022,1,1,1,1,1,1,0,1,1,...,1,1,-1,570,595,795,-1,-1,-1,12.31
22,300022,1,1,1,2,1,2,1,0,2,...,1,1,-1,795,820,1050,-1,-1,-1,12.31
23,300022,1,1,2,1,1,3,0,2,1,...,1,1,-1,1050,1075,1220,-1,-1,-1,12.31
24,300022,1,1,2,2,1,4,2,0,2,...,1,1,-1,1220,1245,1620,-1,-1,-1,12.31
25,300028,1,1,1,1,1,3,0,2,1,...,6,3,-1,840,915,1230,-1,-1,-1,4.16
26,300028,1,1,1,2,1,4,2,7,2,...,1,1,-1,1230,1240,1380,-1,-1,-1,4.16
27,300028,1,1,1,2,2,5,7,6,4,...,4,1,2,1380,1400,1410,-1,-1,-1,4.16
28,300028,1,1,1,2,3,6,6,0,3,...,4,1,2,1410,1415,1620,-1,-1,-1,4.16
29,300028,1,1,2,1,1,1,0,4,1,...,1,1,-1,720,730,740,-1,-1,-1,4.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54070,14106091,1,1,1,2,2,2,10,5,6,...,3,0,1,1118,1170,1200,-1,-1,-1,942.42
54071,14106091,1,1,1,2,3,3,5,5,4,...,3,1,1,1200,1220,1250,-1,-1,-1,942.42
54072,14106091,1,1,1,2,4,4,5,0,4,...,3,1,1,1250,1265,1620,-1,-1,-1,942.42
54073,14106091,2,1,1,1,1,1,0,6,1,...,3,1,1,295,320,325,-1,-1,-1,942.42
54074,14106091,2,1,1,1,2,2,6,1,3,...,3,1,1,325,330,990,-1,-1,-1,942.42
54075,14106091,2,1,1,2,1,3,1,5,2,...,3,1,1,990,1080,1105,-1,-1,-1,942.42
54076,14106091,2,1,1,2,2,4,5,0,4,...,3,1,1,1105,1125,1620,-1,-1,-1,942.42
54077,14106092,1,1,1,1,1,1,0,4,1,...,5,1,1,570,630,780,-1,-1,-1,348.34
54078,14106092,1,1,1,2,1,2,4,7,4,...,5,1,1,780,810,900,-1,-1,-1,348.34
54079,14106092,1,1,1,2,2,3,7,0,4,...,5,1,1,900,975,1620,-1,-1,-1,348.34
54080,14106092,2,1,1,1,1,1,0,4,1,...,5,1,2,570,630,780,-1,-1,-1,348.34
54081,14106092,2,1,1,2,1,2,4,7,4,...,5,1,2,780,810,900,-1,-1,-1,348.34
54082,14106092,2,1,1,2,2,3,7,0,4,...,5,1,2,900,975,1620,-1,-1,-1,348.34
54083,14106092,3,1,1,1,1,1,0,4,1,...,5,1,2,570,630,780,-1,-1,-1,348.34
54084,14106092,3,1,1,2,1,2,4,7,4,...,5,1,2,780,810,900,-1,-1,-1,348.34
54085,14106092,3,1,1,2,2,3,7,0,4,...,5,1,2,900,975,1620,-1,-1,-1,348.34
54086,14106093,1,1,1,1,1,1,0,1,1,...,6,3,-1,465,525,670,-1,-1,-1,58.64
54087,14106093,1,1,1,2,1,4,1,0,2,...,6,3,-1,1025,1105,1125,-1,-1,-1,58.64
54088,14106093,1,1,2,1,1,2,1,1,2,...,1,1,-1,670,690,790,-1,-1,-1,58.64
54089,14106093,1,1,2,2,1,3,1,1,4,...,4,1,2,790,810,1025,-1,-1,-1,58.64
54090,14106093,1,1,3,1,1,5,0,4,1,...,1,1,-1,1125,1200,1205,-1,-1,-1,58.64
54091,14106093,1,1,3,1,2,6,4,7,4,...,1,1,-1,1205,1235,1320,-1,-1,-1,58.64
54092,14106093,1,1,3,2,1,7,7,0,4,...,4,1,2,1320,1335,1620,-1,-1,-1,58.64
54093,14106094,1,1,1,1,1,1,0,1,1,...,3,1,1,470,480,700,-1,-1,-1,114.08
54094,14106094,1,1,1,2,1,4,1,4,2,...,6,3,-1,845,905,945,-1,-1,-1,114.08
54095,14106094,1,1,1,2,2,5,4,4,4,...,6,3,1,945,1020,1030,-1,-1,-1,114.08
54096,14106094,1,1,1,2,3,6,4,4,4,...,3,1,1,1030,1040,1150,-1,-1,-1,114.08
54097,14106094,1,1,1,2,4,7,4,0,4,...,3,1,1,1150,1160,1620,-1,-1,-1,114.08
54098,14106094,1,1,2,1,1,2,1,6,2,...,3,1,1,700,705,735,-1,-1,-1,114.08
54099,14106094,1,1,2,2,1,3,6,1,3,...,3,1,1,735,740,845,-1,-1,-1,114.08

In [64]:
df[['arrtm','mam']]

       arrtm   mam
0       1340   820
1       1515   915
2       1800  1080
3        930   570
4       1040   640
5       1140   700
6       1750  1070
7       1900  1140
8        720   440
9       1730  1050
10      2230  1350
11      1040   640
12      1055   655
13      1315   795
14      1340   820
15      1355   835
16      1450   890
17      1725  1045
18      1750  1070
19      2025  1225
20      2055  1255
21       955   595
22      1340   820
23      1755  1075
24      2045  1245
25      1515   915
26      2040  1240
27      2320  1400
28      2335  1415
29      1210   730
...      ...   ...
54070   1930  1170
54071   2020  1220
54072   2105  1265
54073    520   320
54074    530   330
54075   1800  1080
54076   1845  1125
54077   1030   630
54078   1330   810
54079   1615   975
54080   1030   630
54081   1330   810
54082   1615   975
54083   1030   630
54084   1330   810
54085   1615   975
54086    845   525
54087   1825  1105
54088   1130   690
54089   1330   810
54090   2000  1200
54091   2035  1235
54092   2215  1335
54093    800   480
54094   1505   905
54095   1700  1020
54096   1720  1040
54097   1920  1160
54098   1145   705
54099   1220   740

[54100 rows x 2 columns]

In [2]:
h5file = h5py.File(r'R:\SoundCast\Inputs\2014\etc\survey.h5')

In [3]:
trip = pd.DataFrame()
for field in h5file['Trip'].keys():
    trip[field] = h5file['Trip'][field][:]
    
tour = pd.DataFrame()
for field in h5file['Tour'].keys():
    tour[field] = h5file['Tour'][field][:]
    
person = pd.DataFrame()
for field in h5file['Person'].keys():
    person[field] = h5file['Person'][field][:]

In [4]:
trip['trexpfac'].sum()

13052090.650000809

In [5]:
# trips per person including all trips
trip['trexpfac'].sum()/person['psexpfac'].sum()

3.341726504116827

In [6]:
# exclude the trips without a distance
trip[trip['travdist'] > 0]['trexpfac'].sum()/person['psexpfac'].sum()

3.271814002869059

In [7]:
trip[trip['travdist'] > 0]

,arrtm,dadtyp,day,deptm,dorp,dpcl,dpurp,dtaz,endacttm,half,...,otaz,pathtype,pno,tour,travcost,travdist,travtime,trexpfac,tseg,tsvid
0,1340,4,1,1300,-1,1256966,4,815,1500,1,...,553,3,1,1,2.25,8.11,26.51,16.51,1,1
1,1515,4,1,1500,-1,1223110,5,629,1700,1,...,815,3,1,1,2.25,5.78,21.02,16.51,2,2
2,1800,1,1,1700,-1,750257,0,553,2700,2,...,629,3,1,1,2.25,2.65,10.65,16.51,1,3
3,930,4,1,905,1,751756,4,304,1030,1,...,281,1,1,1,0.00,0.62,6.74,3.91,1,1
4,1040,1,1,1030,1,1223541,0,281,2700,2,...,304,1,1,1,0.00,0.68,6.54,3.91,1,2
5,1140,2,1,1030,-1,1222518,2,552,1730,1,...,752,3,1,1,2.25,7.97,25.53,4.16,1,1
6,1750,4,1,1730,-1,828899,4,503,1800,2,...,552,3,1,1,2.25,0.95,3.36,4.16,1,2
7,1900,1,1,1800,-1,937172,0,752,2700,2,...,503,3,1,1,2.25,6.87,19.26,4.16,2,3
8,720,4,1,645,-1,1098718,1,8,1700,1,...,1840,3,1,1,2.75,5.42,22.27,3.91,1,1
9,1730,2,1,1700,-1,932775,2,72,2120,1,...,8,3,1,1,2.25,2.57,8.66,3.91,2,2
10,2230,1,1,2120,-1,1137154,0,1840,2700,2,...,72,3,1,1,2.75,8.47,32.48,3.91,1,3
11,1040,2,1,1035,-1,1149421,2,567,1045,1,...,574,1,1,1,0.00,0.29,5.96,14.64,1,1
12,1055,4,1,1045,-1,1078364,2,552,1300,1,...,567,1,1,1,0.00,0.24,4.90,14.64,2,2
13,1315,2,1,1300,-1,1149412,5,567,1335,2,...,552,1,1,1,0.00,0.24,4.90,14.64,1,3
14,1340,2,1,1335,-1,1078582,5,567,1350,2,...,567,1,1,1,0.00,0.10,2.06,14.64,2,4
15,1355,4,1,1350,-1,1078364,2,552,1440,2,...,567,1,1,1,0.00,0.24,4.90,14.64,3,5
16,1450,4,1,1440,-1,829184,1,566,1715,2,...,552,1,1,1,0.00,0.36,7.35,14.64,4,6
17,1725,1,1,1715,-1,829145,0,574,2700,2,...,566,1,1,1,0.00,0.36,7.33,14.64,5,7
18,1750,2,1,1710,-1,932775,2,72,2020,1,...,1830,3,1,1,2.75,5.45,20.13,3.91,1,1
19,2025,4,1,2020,-1,1064718,7,71,2035,2,...,72,1,1,1,0.00,0.58,11.69,3.91,1,2
20,2055,1,1,2035,-1,979971,0,1830,2700,2,...,71,1,1,1,0.00,5.20,13.57,3.91,2,3
21,955,2,1,930,-1,932775,1,72,1315,1,...,69,1,1,1,0.00,1.12,22.43,12.31,1,1
22,1340,1,1,1315,-1,1209040,0,69,1730,2,...,72,1,1,1,0.00,1.12,22.43,12.31,1,2
23,1755,2,1,1730,-1,932775,2,72,2020,1,...,69,1,1,2,0.00,1.12,22.43,12.31,1,3
24,2045,1,1,2020,-1,1209040,0,69,2700,2,...,72,1,1,2,0.00,1.12,22.43,12.31,1,4
25,1515,2,1,1400,-1,1078444,2,552,2030,1,...,278,3,1,1,2.25,3.87,16.36,4.16,1,3
26,2040,4,1,2030,-1,1222541,7,567,2300,2,...,552,1,1,1,0.00,0.24,4.90,4.16,1,4
27,2320,3,1,2300,2,1078623,6,566,2330,2,...,567,1,1,1,0.00,0.24,7.02,4.16,2,5
28,2335,1,1,2330,2,820323,0,278,2700,2,...,566,1,1,1,0.00,4.16,13.92,4.16,3,6
29,1210,4,1,1200,-1,751674,4,282,1220,1,...,278,1,1,2,0.00,0.72,14.55,4.16,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54068,700,2,1,510,1,768992,1,1881,1745,1,...,2195,3,1,1,7.00,28.33,75.67,942.42,1,1
54071,2020,4,1,2000,1,52173,5,2170,2050,2,...,2144,1,1,1,0.00,6.37,11.28,942.42,3,3
54072,2105,1,1,2050,1,52300,0,2195,2700,2,...,2170,1,1,1,0.00,1.76,7.26,942.42,4,4
54073,520,3,1,455,1,132792,6,2406,525,1,...,2195,1,2,1,0.00,19.57,30.28,942.42,1,1
54074,530,2,1,525,1,170312,1,2410,1630,1,...,2406,1,2,1,0.00,1.27,6.04,942.42,2,2
54075,1800,4,1,1630,1,25880,5,2144,1825,2,...,2410,1,2,1,0.00,23.68,34.75,942.42,1,3
54076,1845,1,1,1825,1,52300,0,2195,2700,2,...,2144,1,2,1,0.00,7.59,14.53,942.42,2,4
54077,1030,4,1,930,1,1273364,4,294,1300,1,...,2550,1,1,1,0.00,25.71,44.10,348.34,1,1
54078,1330,4,1,1300,1,721348,7,232,1500,2,...,294,1,1,1,0.00,3.82,17.65,348.34,1,2
54079,1615,1,1,1500,1,162183,0,2550,2700,2,...,232,1,1,1,0.00,29.59,53.91,348.34,2,3
54080,1030,4,1,930,2,1273364,4,294,1300,1,...,2550,1,2,1,0.00,25.71,44.10,348.34,1,1
54081,1330,4,1,1300,2,721348,7,232,1500,2,...,294,1,2,1,0.00,3.82,17.65,348.34,1,2
54082,1615,1,1,1500,2,162183,0,2550,2700,2,...,232,1,2,1,0.00,29.59,53.91,348.34,2,3
54083,1030,4,1,930,2,1273364,4,294,1300,1,...,2550,1,3,1,0.00,25.71,44.10,348.34,1,1
54084,1330,4,1,1300,2,721348,7,232,1500,2,...,294,1,3,1,0.00,3.82,17.65,348.34,1,2
54085,1615,1,1,1500,2,162183,0,2550,2700,2,...,232,1,3,1,0.00,29.59,53.91,348.34,2,3
54086,845,2,1,745,-1,829672,1,406,1110,1,...,1606,3,1,1,2.75,7.98,16.61,58.64,1,1
54087,1825,1,1,1705,-1,1273092,0,1606,1845,2,...,406,3,1,1,2.75,9.04,29.06,58.64,1,4
54088,1130,4,1,1110,-1,716839,1,497,1310,1,...,406,1,1,2,0.00,0.85,17.18,58.64,1,2
54089,1330,2,1,1310,2,829672,1,406,1705,2,...,497,1,1,2,0.00,0.85,9.70,58.64,1,3
54090,2000,4,1,1845,-1,760842,4,1666,2005,1,...,1606,1,1,3,0.00,2.52,50.45,58.64,1,5
54091,2035,4,1,2005,-1,1113282,7,1638,2200,1,...,1666,1,1,3,0.00,0.75,15.19,58.64,2,6
54092,2215,1,1,2200,2,1273092,0,1606,2700,2,...,1638,1,1,3,0.00,2.26,9.86,58.64,1,7
54093,800,2,1,750,1,932558,1,1554,1140,1,...,1552,1,1,1,0.00,0.41,5.47,114.08,1,1
54094,1505,4,1,1405,-1,673572,4,523,1545,2,...,1554,3,1,1,2.75,11.10,26.99,114.08,1,4
54095,1700,4,1,1545,1,1077184,4,1546,1710,2,...,523,3,1,1,2.75,10.93,25.91,114.08,2,5
54096,1720,4,1,1710,1,789500,4,1548,1910,2,...,1546,1,1,1,0.00,0.52,5.90,114.08,3,6
54097,1920,1,1,1910,1,1067080,0,1552,2700,2,...,1548,1,1,1,0.00,0.45,5.82,114.08,4,7
54098,1145,3,1,1140,1,1051474,6,1537,1215,1,...,1554,1,1,2,0.00,1.12,8.32,114.08,1,2
54099,1220,2,1,1215,1,932558,1,1554,1405,2,...,1537,1,1,2,0.00,1.12,8.44,114.08,1,3

In [8]:
# VMT
driver = trip[trip['dorp'] == 1]

In [9]:
(driver['travdist']*driver['trexpfac']).sum()/person['psexpfac'].sum()

12.972932488835077

In [10]:
(driver['travdist']*driver['trexpfac']).sum()/person['psexpfac'].sum()

12.972932488835077

In [11]:
internal_trips = trip[(trip['otaz']>=0) & (trip['dtaz']>=0)]

In [12]:
internal_trips.groupby('mode').max()['travdist']

mode
1        21.91
2       109.22
3        87.79
4        71.47
5        72.96
6        63.75
8        30.39
9        61.67
Name: travdist, dtype: float64

In [13]:
bikes = internal_trips[internal_trips['mode'] == 2]

In [14]:
bikes.median()['travdist']

1.8200000000000001

In [15]:
internal_tours = tour[(tour['totaz']>=0) & (tour['tdtaz']>=0)]
internal_tours.min()['c']

0.0

In [16]:
internal_tours.columns

Index([u'c', u'd', u'day', u'fhtindx1', u'fhtindx2', u'hhno', u'id', u'jtindex', u'parent', u'pdpurp', u'phtindx1', u'phtindx2', u'pno', u'subtrs', u't', u'tardest', u'tarorig', u'tautocost', u'tautodist', u'tautotime', u'tdadtyp', u'tdpcl', u'tdtaz', u'tlvdest', u'tlvorig', u'tmodetp', u'toadtyp', u'toexpfac', u'topcl', u'totaz', u'tour', u'tpathtp', u'tripsh1', u'tripsh2'], dtype='object')

In [17]:
internal_tours.groupby('tmodetp').count()

,c,d,day,fhtindx1,fhtindx2,hhno,id,jtindex,parent,pdpurp,...,tlvdest,tlvorig,toadtyp,toexpfac,topcl,totaz,tour,tpathtp,tripsh1,tripsh2
tmodetp,,,,,,,,,,,,,,,,,,,,,
1,3975,3975,3975,3975,3975,3975,3975,3975,3975,3975,...,3975,3975,3975,3975,3975,3975,3975,3975,3975,3975
2,461,461,461,461,461,461,461,461,461,461,...,461,461,461,461,461,461,461,461,461,461
3,6056,6056,6056,6056,6056,6056,6056,6056,6056,6056,...,6056,6056,6056,6056,6056,6056,6056,6056,6056,6056
4,3501,3501,3501,3501,3501,3501,3501,3501,3501,3501,...,3501,3501,3501,3501,3501,3501,3501,3501,3501,3501
5,2278,2278,2278,2278,2278,2278,2278,2278,2278,2278,...,2278,2278,2278,2278,2278,2278,2278,2278,2278,2278
6,2119,2119,2119,2119,2119,2119,2119,2119,2119,2119,...,2119,2119,2119,2119,2119,2119,2119,2119,2119,2119
7,167,167,167,167,167,167,167,167,167,167,...,167,167,167,167,167,167,167,167,167,167
8,337,337,337,337,337,337,337,337,337,337,...,337,337,337,337,337,337,337,337,337,337
9,248,248,248,248,248,248,248,248,248,248,...,248,248,248,248,248,248,248,248,248,248

In [78]:
internal_tours_schoolbus = internal_tours[internal_tours['tmodetp'] == 8]

In [92]:
internal_tours_schoolbus.mean()['tautodist']

3.336350148367953

In [83]:
internal_tours_pnr = internal_tours[internal_tours['tmodetp'] == 7]

In [89]:
internal_tours_pnr.mean()['tautocost']

0.90712574850299377

In [90]:
internal_tours_pnr.mean()['c']

90.712574850299404