- add new expansion weights to survey.h5 to create calibration dataset
- expansion weights are created at the household level, but applied to all datasets based on hh ID
    - e.g., HH ID 14100001 has expansion factor of 45.545, so hhexpfac is 45.545. For each trip record, the 'trexpfac' field has values of 45.545 for each trip.

In [11]:
import pandas as pd
import h5py

In [9]:
# Load new weights
wt = pd.read_csv(r'data/hh2014_ipfweights_3.dat',sep=' ')

In [12]:
# Load latest 2014 survey file
h5file = h5py.File(r'R:\SoundCast\Inputs\2014\etc\survey.h5')

In [122]:
expwt_dict = {'Trip':'trexpfac',
             'Tour':'toexpfac',
             'Household':'hhexpfac',
              'HouseholdDay':'hdexpfac',
             'Person':'psexpfac',
             'PersonDay':'pdexpfac'}

group_dict={
            'hday': 'HouseholdDay',
            'hrec': 'Household',
            'pday': 'PersonDay',
            'prec': 'Person',
            'tour': 'Tour',
            'trip': 'Trip'
        }

# results h5 file
f = h5py.File('survey_updated.h5', 'w')

h5_dict = {}
for table in h5file.keys():
    df = pd.DataFrame()
    for field in h5file[table].keys():
        df[field] = h5file[table][field][:]
        
    # Update expansion weight fields
    df = pd.merge(df,wt[['hhid','expwt_final_3']],left_on='hhno',right_on='hhid',how='left')
    
    # Fill missing fields (from college survey) with old values
    df['expwt_final_3'].fillna(df[expwt_dict[table]],inplace=True)
    df[expwt_dict[table]] = df['expwt_final_3']
    df.drop(['expwt_final_3','hhid'],axis=1,inplace=True)
    
    h5_dict[table] = df
    
    # Write results to new h5 container
    grp = f.create_group(table)
    
    for column in df.columns:
        if column in ['travdist','travcost','travtime','trexpfac',
        'tautotime','tautocost','tautodist','toexpfac','hdexpfac'
        'pwautime','pwaudist', 'psautime','psaudist','psexpfac',
        'pdexpfac', 'hhexpfac'
        ]:
            grp.create_dataset(column, data=list(df[column].astype('float64')))
        else:
            grp.create_dataset(column, data=list(df[column].astype('int32')))
            
f.close()

In [121]:
f.close()

In [111]:
samp = 14106065
h5_dict['Trip'][h5_dict['Trip']['hhno'] == samp]

,arrtm,dadtyp,day,deptm,dorp,dpcl,dpurp,dtaz,endacttm,half,...,otaz,pathtype,pno,tour,travcost,travdist,travtime,trexpfac,tseg,tsvid
53852,425,2,1,395,1,280652,1,3518,900,1,...,3617,1,1,1,0,12.58,23.83,348.8189,1,1
53853,920,4,1,900,1,330830,4,3615,925,2,...,3518,1,1,1,0,12.26,23.46,348.8189,1,2
53854,930,1,1,925,1,329612,0,3617,975,2,...,3615,1,1,1,0,0.47,5.64,348.8189,2,3
53855,1025,4,1,975,1,346928,3,3642,1030,1,...,3617,1,1,2,0,10.62,30.92,348.8189,1,4
53856,1055,4,1,1030,1,319160,3,3563,1055,2,...,3642,1,1,2,0,13.37,24.27,348.8189,1,5
53857,1065,1,1,1055,1,329612,0,3617,1080,2,...,3563,1,1,2,0,5.74,14.19,348.8189,2,6
53858,1160,4,1,1150,1,319497,3,3563,1160,1,...,3617,1,1,3,0,5.85,14.64,348.8189,1,9
53859,1180,4,1,1160,1,347569,5,3657,1200,2,...,3563,1,1,3,0,13.44,22.30,348.8189,1,10
53860,1205,4,1,1200,1,346928,3,3642,1205,2,...,3657,1,1,3,0,1.90,6.90,348.8189,2,11
53861,1230,1,1,1205,1,329612,0,3617,1250,2,...,3642,1,1,3,0,10.31,22.84,348.8189,3,12
53862,1255,4,1,1250,-1,330830,5,3615,1260,1,...,3617,1,1,4,0,0.46,9.34,348.8189,1,13
53863,1265,1,1,1260,-1,329612,0,3617,180,2,...,3615,1,1,4,0,0.46,9.34,348.8189,1,14
53864,1085,3,1,1080,1,328585,6,3605,1095,1,...,3617,1,1,5,0,1.61,8.07,348.8189,1,7
53865,1100,1,1,1095,1,329612,0,3617,1150,2,...,3605,1,1,5,0,1.63,8.60,348.8189,1,8

In [112]:
wt[wt['hhid'] == samp]

          hhid  expwt_initial  expwt_final_3
6006  14106065        327.156       348.8189

In [116]:
h5_dict['Trip'].fillna(-1)

,arrtm,dadtyp,day,deptm,dorp,dpcl,dpurp,dtaz,endacttm,half,...,otaz,pathtype,pno,tour,travcost,travdist,travtime,trexpfac,tseg,tsvid
0,820,4,1,780,-1,1256966,4,815,900,1,...,553,3,1,1,2.25,8.11,26.51,16.5100,1,1
1,915,4,1,900,-1,1223110,5,629,1020,1,...,815,3,1,1,2.25,5.78,21.02,16.5100,2,2
2,1080,1,1,1020,-1,750257,0,553,180,2,...,629,3,1,1,2.25,2.65,10.65,16.5100,1,3
3,570,4,1,545,1,751756,4,304,630,1,...,281,1,1,1,0.00,0.62,6.74,3.9100,1,1
4,640,1,1,630,1,1223541,0,281,180,2,...,304,1,1,1,0.00,0.68,6.54,3.9100,1,2
5,700,2,1,630,-1,1222518,2,552,1050,1,...,752,3,1,1,2.25,7.97,25.53,4.1600,1,1
6,1070,4,1,1050,-1,828899,4,503,1080,2,...,552,3,1,1,2.25,0.95,3.36,4.1600,1,2
7,1140,1,1,1080,-1,937172,0,752,180,2,...,503,3,1,1,2.25,6.87,19.26,4.1600,2,3
8,440,4,1,405,-1,1098718,1,8,1020,1,...,1840,3,1,1,2.75,5.42,22.27,3.9100,1,1
9,1050,2,1,1020,-1,932775,2,72,1280,1,...,8,3,1,1,2.25,2.57,8.66,3.9100,2,2
10,1350,1,1,1280,-1,1137154,0,1840,180,2,...,72,3,1,1,2.75,8.47,32.48,3.9100,1,3
11,640,2,1,635,-1,1149421,2,567,645,1,...,574,1,1,1,0.00,0.29,5.96,14.6400,1,1
12,655,4,1,645,-1,1078364,2,552,780,1,...,567,1,1,1,0.00,0.24,4.90,14.6400,2,2
13,795,2,1,780,-1,1149412,5,567,815,2,...,552,1,1,1,0.00,0.24,4.90,14.6400,1,3
14,820,2,1,815,-1,1078582,5,567,830,2,...,567,1,1,1,0.00,0.10,2.06,14.6400,2,4
15,835,4,1,830,-1,1078364,2,552,880,2,...,567,1,1,1,0.00,0.24,4.90,14.6400,3,5
16,890,4,1,880,-1,829184,1,566,1035,2,...,552,1,1,1,0.00,0.36,7.35,14.6400,4,6
17,1045,1,1,1035,-1,829145,0,574,180,2,...,566,1,1,1,0.00,0.36,7.33,14.6400,5,7
18,1070,2,1,1030,-1,932775,2,72,1220,1,...,1830,3,1,1,2.75,5.45,20.13,3.9100,1,1
19,1225,4,1,1220,-1,1064718,7,71,1235,2,...,72,1,1,1,0.00,0.58,11.69,3.9100,1,2
20,1255,1,1,1235,-1,979971,0,1830,180,2,...,71,1,1,1,0.00,5.20,13.57,3.9100,2,3
21,595,2,1,570,-1,932775,1,72,795,1,...,69,1,1,1,0.00,1.12,22.43,12.3100,1,1
22,820,1,1,795,-1,1209040,0,69,1050,2,...,72,1,1,1,0.00,1.12,22.43,12.3100,1,2
23,1075,2,1,1050,-1,932775,2,72,1220,1,...,69,1,1,2,0.00,1.12,22.43,12.3100,1,3
24,1245,1,1,1220,-1,1209040,0,69,180,2,...,72,1,1,2,0.00,1.12,22.43,12.3100,1,4
25,915,2,1,840,-1,1078444,2,552,1230,1,...,278,3,1,1,2.25,3.87,16.36,4.1600,1,3
26,1240,4,1,1230,-1,1222541,7,567,1380,2,...,552,1,1,1,0.00,0.24,4.90,4.1600,1,4
27,1400,3,1,1380,2,1078623,6,566,1410,2,...,567,1,1,1,0.00,0.24,7.02,4.1600,2,5
28,1415,1,1,1410,2,820323,0,278,180,2,...,566,1,1,1,0.00,4.16,13.92,4.1600,3,6
29,730,4,1,720,-1,751674,4,282,740,1,...,278,1,1,2,0.00,0.72,14.55,4.1600,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54070,1170,4,1,1118,1,25880,5,0,1200,2,...,-1,0,1,1,-1.00,-1.00,-1.00,1226.8197,2,2
54071,1220,4,1,1200,1,52173,5,2170,1250,2,...,2144,1,1,1,0.00,6.37,11.28,1226.8197,3,3
54072,1265,1,1,1250,1,52300,0,2195,180,2,...,2170,1,1,1,0.00,1.76,7.26,1226.8197,4,4
54073,320,3,1,295,1,132792,6,2406,325,1,...,2195,1,2,1,0.00,19.57,30.28,1226.8197,1,1
54074,330,2,1,325,1,170312,1,2410,990,1,...,2406,1,2,1,0.00,1.27,6.04,1226.8197,2,2
54075,1080,4,1,990,1,25880,5,2144,1105,2,...,2410,1,2,1,0.00,23.68,34.75,1226.8197,1,3
54076,1125,1,1,1105,1,52300,0,2195,180,2,...,2144,1,2,1,0.00,7.59,14.53,1226.8197,2,4
54077,630,4,1,570,1,1273364,4,294,780,1,...,2550,1,1,1,0.00,25.71,44.10,178.5999,1,1
54078,810,4,1,780,1,721348,7,232,900,2,...,294,1,1,1,0.00,3.82,17.65,178.5999,1,2
54079,975,1,1,900,1,162183,0,2550,180,2,...,232,1,1,1,0.00,29.59,53.91,178.5999,2,3
54080,630,4,1,570,2,1273364,4,294,780,1,...,2550,1,2,1,0.00,25.71,44.10,178.5999,1,1
54081,810,4,1,780,2,721348,7,232,900,2,...,294,1,2,1,0.00,3.82,17.65,178.5999,1,2
54082,975,1,1,900,2,162183,0,2550,180,2,...,232,1,2,1,0.00,29.59,53.91,178.5999,2,3
54083,630,4,1,570,2,1273364,4,294,780,1,...,2550,1,3,1,0.00,25.71,44.10,178.5999,1,1
54084,810,4,1,780,2,721348,7,232,900,2,...,294,1,3,1,0.00,3.82,17.65,178.5999,1,2
54085,975,1,1,900,2,162183,0,2550,180,2,...,232,1,3,1,0.00,29.59,53.91,178.5999,2,3
54086,525,2,1,465,-1,829672,1,406,670,1,...,1606,3,1,1,2.75,7.98,16.61,73.1214,1,1
54087,1105,1,1,1025,-1,1273092,0,1606,1125,2,...,406,3,1,1,2.75,9.04,29.06,73.1214,1,4
54088,690,4,1,670,-1,716839,1,497,790,1,...,406,1,1,2,0.00,0.85,17.18,73.1214,1,2
54089,810,2,1,790,2,829672,1,406,1025,2,...,497,1,1,2,0.00,0.85,9.70,73.1214,1,3
54090,1200,4,1,1125,-1,760842,4,1666,1205,1,...,1606,1,1,3,0.00,2.52,50.45,73.1214,1,5
54091,1235,4,1,1205,-1,1113282,7,1638,1320,1,...,1666,1,1,3,0.00,0.75,15.19,73.1214,2,6
54092,1335,1,1,1320,2,1273092,0,1606,180,2,...,1638,1,1,3,0.00,2.26,9.86,73.1214,1,7
54093,480,2,1,470,1,932558,1,1554,700,1,...,1552,1,1,1,0.00,0.41,5.47,110.5695,1,1
54094,905,4,1,845,-1,673572,4,523,945,2,...,1554,3,1,1,2.75,11.10,26.99,110.5695,1,4
54095,1020,4,1,945,1,1077184,4,1546,1030,2,...,523,3,1,1,2.75,10.93,25.91,110.5695,2,5
54096,1040,4,1,1030,1,789500,4,1548,1150,2,...,1546,1,1,1,0.00,0.52,5.90,110.5695,3,6
54097,1160,1,1,1150,1,1067080,0,1552,180,2,...,1548,1,1,1,0.00,0.45,5.82,110.5695,4,7
54098,705,3,1,700,1,1051474,6,1537,735,1,...,1554,1,1,2,0.00,1.12,8.32,110.5695,1,2
54099,740,2,1,735,1,932558,1,1554,845,2,...,1537,1,1,2,0.00,1.12,8.44,110.5695,1,3

In [84]:
# Fill missing fields (from college survey) with old values
df['expwt_final_3'].fillna(df['hhexpfac'],inplace=True)
df['hhexpfac'] = df['expwt_final_3']
df.drop(['expwt_final_3','hhid'],axis=1,inplace=True)

In [91]:
h5_dict['Household'][h5_dict['Household']['hhno'] == samp]

,hh515,hhcu5,hhexpfac,hhftw,hhhsc,hhincome,hhno,hhoad,hhparcel,hhptw,hhret,hhsize,hhtaz,hhuni,hhvehs,hhwkrs,hownrent,hrestype,samptype
1929,0,0,83.972,2,0,40000,14100006,0,718302,0,0,2,464,0,0,2,2,5,0

In [92]:
df[df['hhno'] == samp]

,hh515,hhcu5,hhexpfac,hhftw,hhhsc,hhincome,hhno,hhoad,hhparcel,hhptw,hhret,hhsize,hhtaz,hhuni,hhvehs,hhwkrs,hownrent,hrestype,samptype
1929,0,0,54.5609,2,0,40000,14100006,0,718302,0,0,2,464,0,0,2,2,5,0

In [93]:
wt[wt['hhid'] == samp]

       hhid  expwt_initial  expwt_final_3
5  14100006        77.2094        54.5609

In [94]:
h5_dict['Tour'][h5_dict['Tour']['hhno'] == samp]

,c,d,day,fhtindx1,fhtindx2,hhno,id,jtindex,parent,pdpurp,...,tlvorig,tmodetp,toadtyp,toexpfac,topcl,totaz,tour,tpathtp,tripsh1,tripsh2
2473,225,69,1,0,0,14100006,1410000611,0,0,1,...,505,6,1,83.97,718297,464,1,3,1,2
2474,275,1240,1,0,0,14100006,1410000621,0,0,1,...,480,6,1,83.97,718297,464,1,3,1,1

In [46]:
wt

          hhid  expwt_initial  expwt_final_3
0     14100001        87.2388        75.9405
1     14100002        87.2388        32.4822
2     14100003        71.0773        49.4452
3     14100004        71.0773        61.4777
4     14100005        71.0773        95.7208
5     14100006        77.2094        54.5609
6     14100007        71.0773        81.5452
7     14100008        77.2094        83.6118
8     14100009        87.2388        47.4075
9     14100010        87.2388        67.6125
10    14100011        87.2388        88.2853
11    14100012        71.0773        90.3517
12    14100013        71.0773        49.4452
13    14100014        77.2094       100.4631
14    14100015        77.2094        66.7816
15    14100016        77.2094        64.1803
16    14100017        71.0773        14.2155
17    14100018        71.0773        69.1993
18    14100019        77.2094       153.9963
19    14100020        71.0773        90.3517
20    14100021        71.0773        42.8340
21    14100022        87.2388        88.2853
22    14100023        87.2388       127.8666
23    14100024        77.2094        93.5729
24    14100025        71.0773        81.5452
25    14100026        71.0773        60.4455
26    14100027        71.0773        74.8277
27    14100028        71.0773       100.6273
28    14100029        71.0773        48.3051
29    14100030        77.2094        61.1882
...        ...            ...            ...
6006  14106065       327.1560       348.8189
6007  14106066       327.1560       470.5833
6008  14106067       381.6794       268.1232
6009  14106068       381.6794       396.8798
6010  14106069       381.6794       450.9153
6011  14106070       381.6794       332.5451
6012  14106071       381.6794       934.5281
6013  14106072       381.6794       319.0814
6014  14106073       381.6794       163.5920
6015  14106074       381.6794       335.0391
6016  14106075       381.6794       779.1919
6017  14106076       381.6794       418.6806
6018  14106077       381.6794       487.5247
6019  14106078       381.6794       157.6155
6020  14106079       381.6794       266.7558
6021  14106080       381.6794       251.7142
6022  14106081       381.6794       454.0401
6023  14106082       381.6794       202.0912
6024  14106083       381.6794        78.4034
6025  14106084       381.6794      1018.2225
6026  14106085       381.6794       469.5052
6027  14106086       381.6794       186.9920
6028  14106087       381.6794       249.5401
6029  14106088       381.6794       474.2601
6030  14106089       381.6794       174.1818
6031  14106090       381.6794       117.5740
6032  14106091       381.6794      1226.8197
6033  14106092       381.6794       178.5999
6034  14106093        94.2051        73.1214
6035  14106094        94.2051       110.5695

[6036 rows x 3 columns]