In [33]:
import pandas as pd

In [34]:
df = pd.read_csv(r'C:\Workspace\testing_estimation_2023_new\estimation\AutoOwnership\AutoOwnershipModel.F12',
                 skiprows=3, delim_whitespace=True, nrows=59)
df.columns = ['var_id','name','constrained','coef','pval']

df_lookup = pd.read_csv(r'auto_ownership_variables.csv')
df = df.merge(df_lookup, on='var_id')
df = df[['variable','coef','pval','alt','constrained']]

In [35]:
# NB: see here: https://github.com/RSGInc/DaySim/blob/master/DaySim/ChoiceModels/Default/Models/AutoOwnershipModel.cs#L176

# Drivers

In [36]:
df[df['variable'] == "household.Has1Driver"]

               variable      coef      pval  alt constrained
0  household.Has1Driver -2.774107  0.110754    2           F
1  household.Has1Driver -5.030301  0.245558    3           F
2  household.Has1Driver -5.600053  0.302384    4           F

In [37]:
df[df['variable'] == "household.Has2Drivers"]

                variable      coef      pval  alt constrained
3  household.Has2Drivers -2.432203  0.258371    0           F
4  household.Has2Drivers -1.306173  0.152490    1           F
5  household.Has2Drivers -1.993983  0.160424    3           F
6  household.Has2Drivers -2.851740  0.239560    4           F

In [38]:
df[df['variable'] == "household.Has3Drivers"]

                 variable      coef      pval  alt constrained
7   household.Has3Drivers -0.815114  0.410478    0           F
8   household.Has3Drivers -0.530343  0.251871    1           F
9   household.Has3Drivers  0.270093  0.216053    2           F
10  household.Has3Drivers -0.645268  0.300245    4           F

In [39]:
df[df['variable'] == "household.Has4OrMoreDrivers"]

                       variable      coef      pval  alt constrained
11  household.Has4OrMoreDrivers -2.003764  0.835959    0           F
12  household.Has4OrMoreDrivers -1.708781  0.434940    1           F
13  household.Has4OrMoreDrivers -0.064784  0.329509    2           F
14  household.Has4OrMoreDrivers -0.485180  0.346626    3           F

# Income

In [40]:
df[df['variable'] == "household.Has0To15KIncome"]

                     variable      coef      pval  alt constrained
37  household.Has0To15KIncome  2.086877  0.359149    0           F
38  household.Has0To15KIncome  1.145101  0.348074    1           F
39  household.Has0To15KIncome  0.907965  0.572761    3           F
40  household.Has0To15KIncome  0.955487  0.809117    4           F

In [41]:
df[df['variable'] == "household.Has50To75KIncome"]

                      variable      coef      pval  alt constrained
41  household.Has50To75KIncome -1.103341  0.170759    0           F
42  household.Has50To75KIncome -0.421644  0.118621    1           F
43  household.Has50To75KIncome  0.367261  0.195177    3           F
44  household.Has50To75KIncome  0.229274  0.285737    4           F

In [42]:
df[df['variable'] == "household.Has75KPlusIncome"]

                      variable      coef      pval  alt constrained
45  household.Has75KPlusIncome -1.898595  0.154225    0           F
46  household.Has75KPlusIncome -0.860366  0.099497    1           F
47  household.Has75KPlusIncome  0.624083  0.161810    3           F
48  household.Has75KPlusIncome  0.742983  0.233024    4           F

In [43]:
df[df['variable'] == "household.HasMissingIncome"]

                      variable      coef      pval  alt constrained
49  household.HasMissingIncome -0.218090  0.143999    0           F
50  household.HasMissingIncome -0.287296  0.142607    1           F
51  household.HasMissingIncome  0.814872  0.211601    3           F
52  household.HasMissingIncome  0.626132  0.295062    4           F

# Workers

# Person Type

# Drivers vs Vehicles

# Drivers vs Vehicles & Transit Access

In [ ]:
var_base = "Math.Log(1+household.ResidenceParcel.StopsTransitBuffer1)*household.HasMoreDriversThan"
col_list = []
for col in df['variable']:
    if var_base in col:
       col_list.append(col)
_df = df[df['variable'].isin(col_list)]
_df

# Drivers vs Vehicles & Jobs/Activity Access

In [ ]:
df['variable'].unique()

In [ ]:
df[df['alt'] == 4]