In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'A:\attach_skims\test1.csv')

In [4]:
# replace all mode 
df

,Unnamed: 0,hhno,pno,day,tour,half,tseg,tsvid,opurp,dpurp,...,hrestype,hhparcel,hhtaz,hhexpfac,samptype,Toll Class,VOT Bin,dephr,mode code,skim_id
0,0,300004,1,1,1,1,1,1,0,4,...,-1,1747,553,16.514,1,1,1,10to14,ivtwa,ivtwa
1,1,300004,1,1,1,1,2,2,4,5,...,-1,1747,553,16.514,1,1,1,15to16,ivtwa,ivtwa

In [16]:
df[df['mode code'].isin(['ivtwa','blah'])]['tseg'] = 88

In [22]:
df

,Unnamed: 0,hhno,pno,day,tour,half,tseg,tsvid,opurp,dpurp,...,hrestype,hhparcel,hhtaz,hhexpfac,samptype,Toll Class,VOT Bin,dephr,mode code,skim_id
0,0,300004,1,1,1,1,88,1,0,4,...,-1,1747,553,16.514,1,1,1,10to14,ivtwa,ivtwa
1,1,300004,1,1,1,1,88,2,4,5,...,-1,1747,553,16.514,1,1,1,15to16,ivtwa,ivtwa