In [1]:
import pandas as pd

In [10]:
# Running Rates

In [2]:
# Load current file
df = pd.read_csv(r'R:\e2projects_two\SoundCast\Inputs\db_inputs\running_emission_rates_by_veh_type.csv')

In [3]:
# For now, copy the 2018 rates and relabel them as 2023
df_copy = df.loc[df['year'] == 2018, :].copy()

In [5]:
df_copy['year'] = 2023

In [7]:
df_out = pd.concat([df, df_copy])

In [8]:
df_out.to_csv(r'R:\e2projects_two\SoundCast\Inputs\db_inputs\running_emission_rates_by_veh_type.csv')

In [9]:
df_out['year'].unique()

array([2018, 2030, 2040, 2050, 2023], dtype=int64)

In [12]:
# Start Rates

In [13]:
# Load current file
df = pd.read_csv(r'R:\e2projects_two\SoundCast\Inputs\db_inputs\start_emission_rates_by_veh_type.csv')

In [14]:
# For now, copy the 2018 rates and relabel them as 2023
df_copy = df.loc[df['year'] == 2018, :].copy()

In [15]:
df_copy['year'] = 2023

In [16]:
df_out = pd.concat([df, df_copy])

In [ ]:
df_out.to_csv(r'R:\e2projects_two\SoundCast\Inputs\db_inputs\start_emission_rates_by_veh_type.csv')

In [18]:
df_out

,Unnamed: 0,pollutantID,processID,monthID,dayID,hourID,ratePerVehicle,county,veh_type,year
0,0,119,16,7,5,24,0.000000e+00,king,light,2018
1,1,119,2,7,5,24,0.000000e+00,king,light,2018
2,2,118,16,7,5,24,2.175830e-06,king,light,2018
3,3,118,2,7,5,24,2.575920e-04,king,light,2018
4,4,115,16,7,5,24,4.682960e-08,king,light,2018
...,...,...,...,...,...,...,...,...,...,...
20731,1291,3,2,1,5,1,6.350430e-02,snohomish,transit,2023
20732,1292,2,16,1,5,1,1.445120e-02,snohomish,transit,2023
20733,1293,2,2,1,5,1,7.568220e-01,snohomish,transit,2023
20734,1294,1,16,1,5,1,1.341530e-03,snohomish,transit,2023
20735,1295,1,2,1,5,1,9.698770e-02,snohomish,transit,2023