In [1]:
import os
import pandas as pd

In [18]:
from census import Census
from us import states

# Note, you must obtain a census key and create a system environment variable called CENSUS_KEY that stores the key value
# You may need to completely restart anaconda/jupyter/VS to get it to recognize the new variable
c = Census(os.environ['CENSUS_KEY'])

census_year = 2022

In [19]:
# Total
c.acs5.state(('NAME','B08301_001E'), states.WA.fips, year=2022)

[{'NAME': 'Washington', 'B08301_001E': 3722716.0, 'state': '53'}]

In [97]:
def get_acs_data(table):
    results_df = pd.DataFrame()
    county_map = {'033': 'King',
                   '035': 'Kitsap',
                   '053': 'Pierce',
                   '061': 'Snohomish'
                  }
    df = pd.DataFrame(
        c.acs5.get(table, geo={'for': 'tract:*',
                   'in': 'state:{}'.format(states.WA.fips)})
    )
    df['county_name'] = df['county'].map(county_map)
    df = df[~df['county_name'].isnull()]

    return df

In [98]:
get_acs_data('B08301_001E')

      B08301_001E state county   tract county_name
366        2196.0    53    033  000101        King
367        2426.0    53    033  000102        King
368        2815.0    53    033  000201        King
369        2347.0    53    033  000202        King
370        1701.0    53    033  000300        King
...           ...   ...    ...     ...         ...
1434       2551.0    53    061  053803   Snohomish
1435       2693.0    53    061  940001   Snohomish
1436       1621.0    53    061  940002   Snohomish
1437          0.0    53    061  990002   Snohomish
1438          0.0    53    061  990100   Snohomish

[923 rows x 5 columns]

In [100]:
acs_dict = {
    'B08301_001E': 'Total',
    'B08301_002E': 'Drove Alone',
    'B08301_004E': 'Carpooled',
    'B08301_010E': 'Transit',
    'B08301_019E': 'Walked',
    'B08301_020E': 'Other',
    'B08301_021E': 'Telework',
    'B08303_001E': 'Mean Travel Time to Work'
}