In [2]:
# Data Source: MOVES inputs from WA Department of Ecology, sourcetypeyear file by county
import pandas as pd

In [63]:
year = '2023'

In [71]:
input_dict = {
    'king': r'Y:\Air Quality\2023 Base Year\2023_MOVES_inputs\King\King_sourcetypeyear_2023.csv',
    'kitsap': r'Y:\Air Quality\2023 Base Year\2023_MOVES_inputs\Kitsap\Kitsap_sourcetypeyear_2023.csv',
    'pierce': r'Y:\Air Quality\2023 Base Year\2023_MOVES_inputs\Pierce\Pierce_sourcetypeyear_2023.csv',
    'snohomish': r'Y:\Air Quality\2023 Base Year\2023_MOVES_inputs\Snohomish\Snohomish_sourcetypeyear_2023.csv'
             }

results_df = pd.DataFrame()

for county, filedir in input_dict.items():
    df_county = pd.read_csv(filedir)
    county_df = pd.DataFrame()
    
    # https://github.com/USEPA/EPA_MOVES_Model/blob/master/docs/MOVES5CheatsheetOnroad.pdf
    # light vehicles
    df = df_county[df_county['sourceTypeID'].isin([11,21,31, 32])]    # Motorcycle, passenger car, passenger truck, light commercial truck
    df = pd.DataFrame(df[['sourceTypePopulation']].sum())
    df.rename(columns={0: 'vehicles'}, inplace=True)
    df['type'] = 'light'
    county_df = pd.concat([county_df, df])

    # medium truck
    df = df_county[df_county['sourceTypeID'].isin([51, 52, 53, 54])]    # refuse truck, single unit short- and long-haul truck, motor home
    df = pd.DataFrame(df[['sourceTypePopulation']].sum())
    df.rename(columns={0: 'vehicles'}, inplace=True)
    df['type'] = 'medium'
    county_df = pd.concat([county_df, df])

    # heavy truck
    df = df_county[df_county['sourceTypeID'].isin([61, 62])]    # combination short- and long-haul truck
    df = pd.DataFrame(df[['sourceTypePopulation']].sum())
    df.rename(columns={0: 'vehicles'}, inplace=True)
    df['type'] = 'heavy'
    county_df = pd.concat([county_df, df])

    county_df = county_df.reset_index(drop=True)
    county_df['county'] = county
    
    results_df = pd.concat([results_df, county_df])
results_df['year'] = year

In [72]:
results_df[['year','county','type','vehicles']]

   year     county    type  vehicles
0  2023       king   light   1885086
1  2023       king  medium     91451
2  2023       king   heavy      6720
0  2023     kitsap   light    273692
1  2023     kitsap  medium     13249
2  2023     kitsap   heavy       811
0  2023     pierce   light    818161
1  2023     pierce  medium     40058
2  2023     pierce   heavy      2708
0  2023  snohomish   light    780696
1  2023  snohomish  medium     36881
2  2023  snohomish   heavy      2461

In [74]:
# Replace the data by copying to clipboard and pasting in spreadsheet
results_df[['year','county','type','vehicles']].to_clipboard()