To create a bike count table:
 - Load WSDOT count data in text format into a new geodatabase (gdb)
 - Load copy of TransRefEdges into same gdb
 - Convert WSDOT data into points file by locating X and Y cooridnates of each collection location
     - Use a geographic coordinate system of WGS 1984
 - Export that points file to the gdb
 - intersect points file with geodb, using a tolerance of ~ 50 feet, since points do not line up   perfectly with TransRefEdges
 - Export resulting intersection table as counts_intersect.csv

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv(r'R:\Bike\Counts\counts_intersect.csv')

In [9]:
original_df = len(df)

The intersect joined multiple edges to each point because there are separate edges for non-motorized and vehicle streets. We should set a heirarchy so that bike counts represent the non-motorized links first, if possible.

In [10]:
# First way to filter is to remove and links that don't allow either k, l, or q modes (the 3 different bike modes)

results = []

for row in xrange(len(df)):
    if any(x in df['Modes'].iloc[row] for x in ['k','l','q']):
        results.append(df.iloc[row].values)
        
df = pd.DataFrame(results, columns = df.columns)
print str(original_df - len(df)) + ' rows removed'

531 rows removed

Ideally we want to separate bike trails from regular links so we are sure to be assignming trips along bike links
However, for now we can just focus on getting the total link volumes and concentrating on link types later

In [11]:
# collect all EdgeIDs and total volumes
df[['OBJECTID', 'PSRCEdgeID','INode','JNode','Bike_Total','CountYear','CountTime','CountDate']]

# Since assume the count location includes the nearby links (within 50 ft of reported location),
# we want a list of all links to pass into Emme to sum up counts.
# For comparison, we need to group each count by OBJECTID so we have a single value for each count location/time.
# Note that some locations have multiple counts!

df[['OBJECTID', 'PSRCEdgeID','INode','JNode']].to_csv('bike_count_links.csv')

In [12]:
# Get unique list of counts
count_totals = pd.DataFrame(df.groupby('OBJECTID').mean()['Bike_Total'])
# Note we are aggregating with "mean" but all bike_total values are the same for 
# rows with the same OBJECTID

In [13]:
count_totals['OBJECTID'] = count_totals.index
count_totals.to_csv('bike_count_values.csv')

In [14]:
## Pass in the bike_count_links.csv to the bike_model to get the assigned values back
# Then read them in to compare to the bike_count_values

In [15]:
df_counts = pd.read_csv(r'D:\soundcast\soundcast\scripts\summarize\notebooks\bike_count_links.csv')

In [19]:
# Edges shapefile needs to be exported as csv, could do this with arcpy, as part of 
# I-O tool?
# For now, I just exported a 2010 network manually
edges_df = pd.read_csv(r'R:\Bike\Counts\edges_0.txt')

In [20]:
edges_df

,FID,OBJECTID,Enabled,PSRCEdgeID,FTRsegID,FacilityTy,NewFacilit,INode,JNode,InServiceD,...,SplitTR,SplitTK,Updated1,prjRte,shptype,Dissolve,Direction,Shape_len,NewINode,NewJNode
0,0,89885983,0,4649,223160,6,3,144702,144696,2000,...,,,,,,0,0,339.858275,148702,148696
1,1,89885986,0,3193,0,6,3,115584,115589,2000,...,,,,,,0,0,1518.841019,119584,119589
2,2,89885987,0,3201,0,6,3,115589,115598,2000,...,,,,,,0,0,1105.932993,119589,119598
3,3,89885988,0,3202,125055,6,3,115598,115606,2000,...,,,,,,0,0,1320.687178,119598,119606
4,4,89885990,0,3864,161061,7,3,149482,149511,1995,...,,,,,,0,0,379.998661,153482,153511
5,5,89885993,0,595,128628,7,6,119525,119529,1995,...,,,,,,0,0,287.065194,123525,123529
6,6,89886003,0,2359,222309,1,1,67301,67533,2000,...,,,,,,0,1,321.567210,71301,71533
7,7,89886004,0,2360,222309,1,1,67533,67639,2000,...,,,,,,0,1,163.516684,71533,71639
8,8,89886012,0,5530,68390,3,2,64363,64348,2000,...,,,,,,0,0,39.593654,68363,68348
9,9,89886015,0,5574,70408,5,3,65863,65913,2000,...,,,,,,0,0,97.461642,69863,69913
10,10,89886016,0,5575,70612,3,2,65901,66066,2000,...,,,,,,0,0,260.679104,69901,70066
11,11,89886017,0,5576,70828,3,2,66238,66066,2000,...,,,,,,0,0,260.080504,70238,70066
12,12,89886018,0,5580,70345,5,3,65824,65863,2000,...,,,,,,0,0,69.759572,69824,69863
13,13,89886028,0,6834,203784,2,1,101409,101491,1995,...,,,,,,0,1,233.785532,105409,105491
14,14,89886029,0,6836,203723,2,1,101620,101417,2000,...,,,,,,0,1,631.109620,105620,105417
15,15,89886036,0,8349,24306,2,1,22471,22626,1995,...,,,,,,0,1,600.201941,26471,26626
16,16,89886044,0,9581,0,5,3,46415,46421,2000,...,,,,,,0,0,360.811206,50415,50421
17,17,89886045,0,1362,0,10,0,67009,63817,2004,...,,,,,,0,0,5859.330701,71009,67817
18,18,89886049,0,2912,213174,6,3,80203,80185,2000,...,,,,,,0,0,1030.675032,84203,84185
19,19,89886050,0,4586,226710,5,3,58869,58828,2000,...,,,,,,0,0,82.103425,62869,62828
20,20,89886057,0,2338,226548,6,3,54072,53945,2000,...,,,,,,0,0,216.588235,58072,57945
21,21,89886058,0,2346,0,10,0,97780,97776,1995,...,,,,,,0,0,8.282428,101780,101776
22,22,89886059,0,2350,63175,5,3,59917,60012,2000,...,,,,,,0,0,200.893514,63917,64012
23,23,89886064,0,2393,98348,9,0,89845,89758,2000,...,,,,,,0,0,44.781747,93845,93758
24,24,89886065,0,2399,209615,5,3,128092,128099,1995,...,,,,,,0,0,1724.749820,132092,132099
25,25,89886066,0,2412,40782,14,0,39109,39122,2000,...,,,,,,0,0,124.307494,43109,43122
26,26,89886069,0,2438,202436,5,3,112026,112031,1995,...,,,,,,0,0,30.822912,116026,116031
27,27,89886071,0,2533,201995,6,3,81929,82077,2000,...,,,,,,0,0,306.089483,85929,86077
28,28,89886072,0,2537,89662,6,3,82154,82298,2000,...,,,,,,0,0,305.928305,86154,86298
29,29,89886075,0,2568,200816,5,4,81104,81032,2000,...,,,,,,0,0,321.717246,85104,85032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34627,34627,0,0,7289,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199528,199529
34628,34628,0,0,5479,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199539,199540
34629,34629,0,0,247430,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199545,199544
34630,34630,0,0,219399,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199546,199547
34631,34631,0,0,5964,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199548,199549
34632,34632,0,0,203468,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199553,199552
34633,34633,0,0,201914,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199556,199440
34634,34634,0,0,218192,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199563,199564
34635,34635,0,0,8258,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199578,199395
34636,34636,0,0,218453,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199586,199587
34637,34637,0,0,220306,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199594,199595
34638,34638,0,0,221139,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199596,199597
34639,34639,0,0,221258,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199600,199574
34640,34640,0,0,248286,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199604,199605
34641,34641,0,0,213531,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199638,198989
34642,34642,0,0,214777,0,99,0,0,0,0,...,,,,,,0,-1,0.000000,199644,199645
34643,34643,0,0,8528,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199647,199124
34644,34644,0,0,5401,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199654,199582
34645,34645,0,0,202131,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199655,199142
34646,34646,0,0,5409,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199656,199654
34647,34647,0,0,5446,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199660,199661
34648,34648,0,0,218820,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199679,199680
34649,34649,0,0,6719,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199681,199682
34650,34650,0,0,206895,0,99,0,0,0,0,...,,,,,,0,0,0.000000,199707,199220
34651,34651,0,0,7506,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199723,199623
34652,34652,0,0,5350,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199733,199734
34653,34653,0,0,207302,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199764,199723
34654,34654,0,0,7005,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199772,199045
34655,34655,0,0,6930,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199781,199782
34656,34656,0,0,6584,0,99,0,0,0,0,...,,,,,,0,1,0.000000,199796,199673

In [37]:
df = df_counts.merge(edges_df, on=['INode','JNode'])
df.index = df[['INode','JNode']]

In [39]:
# list_model_vols = []

# tod = bike_assignment_tod

# for item in df.index:
#     i = list(item)[0]
#     j = list(item)[1]
#     link = network.link(i, j)
#     x = {}
#     x['INode'] = i
#     x['JNode'] = j
#     if link != None:
#         x['vol' + tod] = link['@bvol']
#     else:
#         x['vol' + tod] = None
#     list_model_vols.append(x)
# print len(list_model_vols)
# df =  pd.DataFrame(list_model_vols)
# # df = df.set_index(['NewINode', 'NewJNode'])
# # return df
# df.to_csv('bike_count_output.csv')

In [41]:
# Added above to bike_model.py, returned the bike_count_output.csv, which we open below
emme_results = pd.read_csv(r'D:/soundcast/soundcast/bike_count_output.csv')

In [47]:
emme_results.merge(df_counts, left_on=['INode','JNode'], right_on=['INode','JNode'])

Empty DataFrame
Columns: [Unnamed: 0_x, INode, JNode, vol7to8, Unnamed: 0_y, OBJECTID, PSRCEdgeID]
Index: []

In [48]:
df_counts

      Unnamed: 0  OBJECTID  PSRCEdgeID   INode   JNode
0              0      1354      121177  171057  171089
1              1      1354      122235  171089  171289
2              2      1354      122243  171462  171057
3              3      1354      122249  171057  170869
4              4      1354      247872  170879  171089
5              5      1354        1364  171089  171620
6              6      1355      121177  171057  171089
7              7      1355      122235  171089  171289
8              8      1355      122243  171462  171057
9              9      1355      122249  171057  170869
10            10      1355      247872  170879  171089
11            11      1355        1364  171089  171620
12            12      1356      121177  171057  171089
13            13      1356      122235  171089  171289
14            14      1356      122243  171462  171057
15            15      1356      122249  171057  170869
16            16      1356      247872  170879  171089
17            17      1356        1364  171089  171620
18            18      1357      121177  171057  171089
19            19      1357      122235  171089  171289
20            20      1357      122243  171462  171057
21            21      1357      122249  171057  170869
22            22      1357      247872  170879  171089
23            23      1357        1364  171089  171620
24            24      1358      121177  171057  171089
25            25      1358      122235  171089  171289
26            26      1358      122243  171462  171057
27            27      1358      122249  171057  170869
28            28      1358      247872  170879  171089
29            29      1358        1364  171089  171620
...          ...       ...         ...     ...     ...
7268        7268       736      222197  181072   16803
7269        7269       736        3498   16814   16638
7270        7270       737      212489   16904   16803
7271        7271       737      212490   16803   16810
7272        7272       737      212492   16706   16803
7273        7273       737      212491   16801  181072
7274        7274       737      222197  181072   16803
7275        7275       737        3498   16814   16638
7276        7276       702      193135   15222   15177
7277        7277       702      214820   15222   15181
7278        7278       703      193135   15222   15177
7279        7279       703      214820   15222   15181
7280        7280       704      193135   15222   15177
7281        7281       704      214820   15222   15181
7282        7282       705      193135   15222   15177
7283        7283       705      214820   15222   15181
7284        7284       706      193135   15222   15177
7285        7285       706      214820   15222   15181
7286        7286       707      193135   15222   15177
7287        7287       707      214820   15222   15181
7288        7288       708      193135   15222   15177
7289        7289       708      214820   15222   15181
7290        7290       709      193135   15222   15177
7291        7291       709      214820   15222   15181
7292        7292       710      193135   15222   15177
7293        7293       710      214820   15222   15181
7294        7294       711      193135   15222   15177
7295        7295       711      214820   15222   15181
7296        7296      2522      193135   15222   15177
7297        7297      2522      214820   15222   15181

[7298 rows x 5 columns]