In [140]:
import os
import pandas as pd

In [141]:
# Location of output from aq_tool
output_dir = r'C:\Workspace\aq_tool\output_TRACT'

In [142]:
# Produce a VMT summary
year = '2018'
df_summary = pd.DataFrame()
for fname in os.listdir(os.path.join(output_dir,year)):
    df = pd.read_csv(os.path.join(output_dir,year,fname))
    df = df[df['pollutant_name'] == 'CO2 Equivalent']
    df['tractce10'] = fname.split('.csv')[0]
    df['vmt_total'] = df['intrazonal_vmt'] + df['interzonal_vmt']
    df = df[['tractce10','veh_type','vmt_total','total_daily_tons']]

    df_summary = df_summary.append(df)
df_summary.rename(columns={'total_daily_tons': 'total_daily_tons_co2e'}, inplace=True)

In [143]:
df_summary.to_clipboard()

In [144]:
df_summary.groupby('veh_type').sum()

             vmt_total  total_daily_tons_co2e
veh_type
heavy     2.430819e+05             554.702308
light     1.007512e+07            6588.754588
medium    5.155952e+05             686.653677

In [145]:
df_summary['vmt_total'].sum()

10833794.655962832

In [134]:
df_summary['total_daily_tons_co2e'].sum()

7830.110573457339

In [139]:
df_summary.to_csv(os.path.join(output_dir,'tract_co2e_vmt.csv'), index=False)

'C:\\Workspace\\travel-modeling\\aq_tool'