In [2]:
import os
import pandas as pd

In [60]:
def process_results(county, analysis_year, output_dir):  

    df_running = pd.read_csv(os.path.join(output_dir, f'interpolated/{county}/{analysis_year}/running_summary.csv'))
    df_start = pd.read_csv(os.path.join(output_dir, f'interpolated/{county}/{analysis_year}/start_summary.csv'))

    pollutant = 'CO2 Equivalent'
    df_pollutant_running = df_running[df_running['pollutant_name']==pollutant].groupby('mode').sum()[['running_daily_tons']]
    df_pollutant_start = df_start[df_start['pollutant_name']==pollutant].groupby('veh_type').sum()[['start_tons']]
    df_vmt = df_running[df_running['pollutant_name']==pollutant].groupby('mode').sum()[['daily_vmt_total']]

    return df_pollutant_running, df_pollutant_start, df_vmt

In [61]:
county = 'King'
output_dir = 'Y:/Air Quality/King County Emissions Inventory/2024/data/output'
# analysis_year = '2024'
# veh_type_list = ['sov','hov2', 'hov3', 'medium', 'heavy', 'transit']

df_pollutant_running_23, df_pollutant_start_23, df_vmt_23 = process_results(county="King", analysis_year='2023', output_dir=output_dir)

In [62]:
df_pollutant_running_24, df_pollutant_start_24, df_vmt_24 = process_results(county="King", analysis_year='2024', output_dir=output_dir)

In [63]:
df_running = df_pollutant_running_23.merge(df_pollutant_running_24, left_index=True, right_index=True, suffixes=('_2023', '_2024'))
df_running = df_running.T[['sov','hov2','hov3','transit','medium','heavy']]
df_running.to_clipboard()
df_running

mode,sov,hov2,hov3,transit,medium,heavy
running_daily_tons_2023,11824.553987,2599.847281,1230.698581,249.409949,1431.421784,2720.280441
running_daily_tons_2024,11302.442297,2485.052873,1176.361183,245.456879,1381.330353,2649.969814

In [64]:
df_start = df_pollutant_start_23.merge(df_pollutant_start_24, left_index=True, right_index=True, suffixes=('_2023', '_2024'))
df_start = df_start.T[["light","transit","medium","heavy"]]
df_start.to_clipboard()
df_start

veh_type               light   transit     medium     heavy
start_tons_2023  1095.912789  0.586167  64.939915  1.392633
start_tons_2024  1050.054479  0.580712  63.069449  1.374445

In [65]:
df_vmt = df_vmt_23.merge(df_vmt_24, left_index=True, right_index=True, suffixes=('_2023', '_2024'))
df_vmt = df_vmt.T[['sov','hov2','hov3','transit','medium','heavy']]
df_vmt.to_clipboard()
df_vmt

mode,sov,hov2,hov3,transit,medium,heavy
daily_vmt_total_2023,3.034648e+07,6.633158e+06,3.158044e+06,128670.926052,1.956339e+06,1.418415e+06
daily_vmt_total_2024,3.034648e+07,6.633158e+06,3.158044e+06,128670.926052,1.956339e+06,1.418415e+06