In [18]:
import os
import pandas as pd

In [19]:
def process_results(county, analysis_year, output_dir):  

    df_running = pd.read_csv(os.path.join(output_dir, f'interpolated/{county}/{analysis_year}/running_summary.csv'))
    df_start = pd.read_csv(os.path.join(output_dir, f'interpolated/{county}/{analysis_year}/start_summary.csv'))

    pollutant = 'CO2 Equivalent'
    df_pollutant_running = df_running[df_running['pollutant_name']==pollutant].groupby('veh_type').sum()[['running_daily_tons']]
    df_pollutant_start = df_start[df_start['pollutant_name']==pollutant].groupby('veh_type').sum()[['start_tons']]
    df_vmt = df_running[df_running['pollutant_name']==pollutant].groupby('veh_type').sum()[['daily_vmt_total']]

    return df_pollutant_running, df_pollutant_start, df_vmt

In [20]:
county = 'King'
output_dir = 'Y:/Air Quality/King County Emissions Inventory/2024/data/output'
results_dir = 'Y:/Air Quality/King County Emissions Inventory/2024'
# analysis_year = '2024'
# veh_type_list = ['sov','hov2', 'hov3', 'medium', 'heavy', 'transit']

df_pollutant_running_23, df_pollutant_start_23, df_vmt_23 = process_results(county="King", analysis_year='2023', output_dir=output_dir)

In [21]:
df_pollutant_running_24, df_pollutant_start_24, df_vmt_24 = process_results(county="King", analysis_year='2024', output_dir=output_dir)

In [22]:
# Write results to Excel spreadsheet with tables on a single page
df_running = df_pollutant_running_23.merge(df_pollutant_running_24, left_index=True, right_index=True, suffixes=('_2023', '_2024')).T
df_start = df_pollutant_start_23.merge(df_pollutant_start_24, left_index=True, right_index=True, suffixes=('_2023', '_2024')).T
df_vmt = df_vmt_23.merge(df_vmt_24, left_index=True, right_index=True, suffixes=('_2023', '_2024')).T

with pd.ExcelWriter(os.path.join(results_dir,'county_summary_2024.xlsx')) as writer:
    df_running[['light','medium','heavy','transit']].to_excel(writer, sheet_name='Running Emissions')
    df_start[['light','medium','heavy','transit']].to_excel(writer, sheet_name='Start Emissions')
    df_vmt[['light','medium','heavy','transit']].to_excel(writer, sheet_name='VMT')

In [23]:
df_running = df_pollutant_running_23.merge(df_pollutant_running_24, left_index=True, right_index=True, suffixes=('_2023', '_2024'))
df_running = df_running.T[['light','medium','heavy','transit']]
df_running.to_clipboard()
df_running

veh_type                        light       medium        heavy     transit
running_daily_tons_2023  16089.725522  1431.606221  2719.099048  249.369753
running_daily_tons_2024  15573.137541  1399.172099  2682.676414  248.558768

In [24]:
df_start = df_pollutant_start_23.merge(df_pollutant_start_24, left_index=True, right_index=True, suffixes=('_2023', '_2024'))
df_start = df_start.T[["light","transit","medium","heavy"]]
df_start.to_clipboard()
df_start

veh_type               light   transit     medium     heavy
start_tons_2023  1095.860986  0.586167  64.936845  1.392567
start_tons_2024  1049.996171  0.580712  63.065946  1.374368

In [25]:
df_vmt = df_vmt_23.merge(df_vmt_24, left_index=True, right_index=True, suffixes=('_2023', '_2024'))
df_vmt = df_vmt.T[["light","transit","medium","heavy"]]
df_vmt.to_clipboard()
df_vmt

veh_type                     light        transit        medium         heavy
daily_vmt_total_2023  4.108819e+07  128670.102999  1.957205e+06  1.418366e+06
daily_vmt_total_2024  4.160847e+07  130317.099598  1.982237e+06  1.436505e+06