In [2]:
import pandas as pd

In [5]:
results_df = pd.DataFrame()
for county in ['King','Kitsap','Pierce','Snohomish']:
    df = pd.read_csv(f'../output/interpolated/{county}/2023/running_summary.csv')
    results_df.loc[county, 'running_daily_tons'] = df[df['pollutantID']=="98"]['running_daily_tons'].sum()

    df = pd.read_csv(f'../output/interpolated/{county}/2023/start_summary.csv')
    results_df.loc[county, 'start_tons'] = df[df['pollutantID']=="98"]['start_tons'].sum()
results_df.loc["total", :] = results_df.sum()

results_df['total_tons'] = results_df['running_daily_tons'] + results_df['start_tons']

results_df

           running_daily_tons   start_tons    total_tons
King             20793.251503  1171.933912  21965.185415
Kitsap            2127.642965     0.068004   2127.710969
Pierce            8479.482666     0.067265   8479.549931
Snohomish         7579.269035     0.136748   7579.405782
total            38979.646169  1172.205929  40151.852098

In [4]:
# Interzonal VMT
results_df = pd.DataFrame()
for county in ['King','Kitsap','Pierce','Snohomish']:
    df = pd.read_csv(f'../output/interzonal_vmt_{county}.csv')
    results_df.loc[county, 'interzonal_vmt'] = df[["sov_vmt","hov2_vmt","hov3_vmt","tnc_vmt","bus_vmt","medium_truck_vmt","heavy_truck_vmt"]].sum().sum()
results_df.loc["total", :] = results_df[["interzonal_vmt"]].sum()

In [40]:
results_df

           interzonal_vmt
King         4.320131e+07
Kitsap       4.290023e+06
Pierce       1.836509e+07
Snohomish    1.607478e+07
total        8.193120e+07