In [9]:
import pandas as pd

In [10]:
# Display results with comma and no decimal places
pd.options.display.float_format = '{:,.0f}'.format

In [11]:
results_df = pd.DataFrame()
results_df_b = pd.DataFrame()
for county in ['King','Kitsap','Pierce','Snohomish']:
    df = pd.read_csv(f'../output/interpolated/{county}/2023/running_summary.csv')
    df = df[df['pollutantID']=="98"].groupby('veh_type').sum()[['running_daily_tons']]
    df['source'] = county
    results_df = pd.concat([results_df, df])

    df = pd.read_csv(f'../output/interpolated/{county}/2023/start_summary.csv')
    df = df[df['pollutantID']=="98"].groupby('veh_type').sum()[['start_tons']]
    df['source'] = county
    results_df_b = pd.concat([results_df_b, df])

# results_df.loc["total", :] = results_df.sum(numeric_only=True)
# results_df_b.loc["total", :] = results_df_b.sum(numeric_only=True)
results_df = results_df.merge(results_df_b, on=['veh_type','source'], suffixes=('_running', '_start'))


results_df['total_daily_tons'] = results_df['running_daily_tons'] + results_df['start_tons']

results_df

          running_daily_tons     source  start_tons  total_daily_tons
veh_type
heavy                  2,720       King           1             2,722
light                 15,852       King       1,108            16,959
medium                 1,972       King          62             2,034
transit                  249       King           1               250
heavy                    169     Kitsap           0               169
light                  1,804     Kitsap         152             1,956
medium                   144     Kitsap           9               152
transit                   11     Kitsap           0                11
heavy                  1,016     Pierce           1             1,017
light                  6,883     Pierce         468             7,351
medium                   549     Pierce          26               575
transit                   31     Pierce           0                31
heavy                    997  Snohomish           1               997
light                  5,989  Snohomish         439             6,428
medium                   547  Snohomish          25               571
transit                   47  Snohomish           0                47

In [12]:
summary_df = results_df.groupby('veh_type').sum()
# Add total for all counties
summary_df.loc["Region", :] = summary_df.sum(numeric_only=True)
summary_df[['running_daily_tons','start_tons','total_daily_tons']]

          running_daily_tons  start_tons  total_daily_tons
veh_type
heavy                  4,902           3             4,905
light                 30,529       2,166            32,695
medium                 3,211         122             3,333
transit                  338           1               339
Region                38,980       2,291            41,271

In [13]:
summary_df = results_df.groupby('source').sum()
# Add total for all counties
summary_df.loc["Region", :] = summary_df.sum(numeric_only=True)
summary_df

           running_daily_tons  start_tons  total_daily_tons
source
King                   20,793       1,172            21,965
Kitsap                  2,128         161             2,289
Pierce                  8,479         495             8,974
Snohomish               7,579         464             8,043
Region                 38,980       2,291            41,271

In [14]:
# Compare with regional totals
df = pd.read_csv(r'N:\rtp_2026_2050\scenarios_for_sept\sc_base_year_2023\soundcast\outputs\emissions\emissions_summary.csv')
df['running_daily_tons'] = df['interzonal_tons'] + df['intrazonal_tons']

In [15]:
df[df['pollutantID']=="98"].sum()[['running_daily_tons','start_tons','total_daily_tons']]

running_daily_tons   38,370
start_tons            2,291
total_daily_tons     40,662
dtype: object

In [16]:
df[df['pollutantID']=="98"].groupby('veh_type').sum()[['running_daily_tons','start_tons','total_daily_tons']]

          running_daily_tons  start_tons  total_daily_tons
veh_type
heavy                  4,933           3             4,936
light                 29,895       2,166            32,062
medium                 3,204         122             3,326
transit                  338           1               339

In [ ]:
#