In [17]:
import pandas as pd

In [18]:
# Note: this data is normally available directly from Soundcast outputs
# but the 2018 RTP used outdated geographic lookups. The CSV files were re-generated and will be
# summarized here.

# VMT

In [67]:
df_vmt = pd.read_csv(r'L:\RTP_2022\final_runs\sc_rtp_2018_final\soundcast\outputs\agg\dash\person_vmt.csv')
df_pop = df = pd.read_csv(r'L:\RTP_2022\final_runs\sc_rtp_2018_final\soundcast\outputs\agg\dash\person_geog.csv')

In [68]:
df_vmt = df_vmt.groupby('hh_rgc').sum()[['travdist_wt']].reset_index()
df_pop = df_pop.groupby('hh_rgc').sum()[['psexpfac']].reset_index()
df = df_pop.merge(df_vmt, on='hh_rgc', how='left')

In [69]:
df['per_capita_vmt'] = df['travdist_wt']/df['psexpfac']
df

,hh_rgc,psexpfac,travdist_wt,per_capita_vmt
0,Auburn,1406.0,2.975599e+04,21.163576
1,Ballard-Interbay,391.0,5.903492e+03,15.098444
2,Bellevue,14209.0,1.618913e+05,11.393574
3,Bothell Canyon Park,466.0,1.177556e+04,25.269442
4,Bremerton,2556.0,2.770805e+04,10.840396
5,Burien,3449.0,7.049937e+04,20.440525
6,Cascade,1233.0,2.749601e+04,22.300090
7,Duwamish,1119.0,1.768191e+04,15.801531
8,Everett,6199.0,8.215042e+04,13.252205
9,Frederickson,607.0,1.584776e+04,26.108340
10,Greater Downtown Kirkland,5753.0,1.120878e+05,19.483361
11,Kent,1563.0,2.885958e+04,18.464225
12,Kent MIC,259.0,4.676300e+03,18.055211
13,Kirkland Totem Lake,5202.0,1.063937e+05,20.452458
14,Lakewood,461.0,6.254345e+03,13.566908
15,Lynnwood,3430.0,6.380618e+04,18.602386
16,North Tukwila,26.0,4.421336e+02,17.005138
17,Not in RGC,3814142.0,9.076817e+07,23.797796
18,Paine Field / Boeing Everett,533.0,1.198910e+04,22.493620
19,Port of Tacoma,2.0,3.888064e+01,19.440318
20,Puget Sound Industrial Center- Bremerton,20.0,6.774774e+02,33.873870
21,Puyallup Downtown,1386.0,2.693026e+04,19.430203
22,Puyallup South Hill,1472.0,3.187042e+04,21.651100
23,Redmond Downtown,6797.0,1.154455e+05,16.984767
24,Redmond-Overlake,2323.0,3.495162e+04,15.045899
25,Renton,5505.0,1.069677e+05,19.431007
26,SeaTac,10659.0,2.267003e+05,21.268443
27,Seattle Downtown,35918.0,2.227455e+05,6.201500
28,Seattle First Hill/Capitol Hill,48121.0,4.016340e+05,8.346336
29,Seattle Northgate,8299.0,1.319635e+05,15.901128
30,Seattle South Lake Union,13663.0,1.100585e+05,8.055219
31,Seattle University Community,19052.0,2.332403e+05,12.242301
32,Seattle Uptown,10644.0,1.088278e+05,10.224335
33,Silverdale,2071.0,2.549774e+04,12.311799
34,Sumner Pacific,69.0,1.243928e+03,18.027942
35,Tacoma Downtown,13178.0,1.829989e+05,13.886695
36,Tacoma Mall,4847.0,8.082119e+04,16.674477
37,Tukwila,145.0,2.658745e+03,18.336175
38,University Place,5979.0,9.821448e+04,16.426574

In [70]:
df.to_clipboard()

In [73]:
df_vmt = pd.read_csv(r'L:\RTP_2022\final_runs\sc_rtp_2018_final\soundcast\outputs\agg\dash\person_vmt.csv')
df_pop = df = pd.read_csv(r'L:\RTP_2022\final_runs\sc_rtp_2018_final\soundcast\outputs\agg\dash\person_geog.csv')

df_vmt = df_vmt.groupby('hh_county').sum()[['travdist_wt']].reset_index()
df_pop = df_pop.groupby('hh_county').sum()[['psexpfac']].reset_index()
df = df_pop.merge(df_vmt, on='hh_county', how='left')

df['per_capita_vmt'] = df['travdist_wt']/df['psexpfac']
df

   hh_county   psexpfac   travdist_wt  per_capita_vmt
0       King  2149234.0  4.749981e+07       22.100808
1     Kitsap   257159.0  5.470437e+06       21.272586
2     Pierce   851709.0  2.028989e+07       23.822566
3  Snohomish   795052.0  2.043674e+07       25.704912

In [74]:
df.to_clipboard()

# Mode Share
To MICs

In [36]:
df_vmt = pd.read_csv(r'L:\RTP_2022\final_runs\sc_rtp_2018_final\soundcast\outputs\agg\dash\person_vmt.csv')
df_pop = df = pd.read_csv(r'L:\RTP_2022\final_runs\sc_rtp_2018_final\soundcast\outputs\agg\dash\person_geog.csv')

                             dpurp     mode               hh_rgc  trexpfac
0                        None/Home      NaN           Not in RGC      12.0
1                        None/Home     Walk               Auburn     458.0
2                        None/Home     Walk     Ballard-Interbay     143.0
3                        None/Home     Walk             Bellevue   10770.0
4                        None/Home     Walk  Bothell Canyon Park      77.0
...                            ...      ...                  ...       ...
2311  Change Mode Inserted Purpose  Transit           Silverdale       7.0
2312  Change Mode Inserted Purpose  Transit      Tacoma Downtown      49.0
2313  Change Mode Inserted Purpose  Transit          Tacoma Mall      28.0
2314  Change Mode Inserted Purpose  Transit              Tukwila       3.0
2315  Change Mode Inserted Purpose  Transit     University Place      35.0

[2316 rows x 4 columns]

In [37]:
df_mode_tour = pd.read_csv(r'L:\RTP_2022\final_runs\sc_rtp_2018_final\soundcast\outputs\agg\dash\tour_rgc_dest.csv')

In [38]:
rgc_tot = df_mode_tour[df_mode_tour['pdpurp'] == 'Work'].groupby('tour_d_rgc').sum()[['toexpfac']].reset_index()

rgc_mode = df_mode_tour[df_mode_tour['pdpurp'] == 'Work'].groupby(['tour_d_rgc','tmodetp']).sum()[['toexpfac']].reset_index()

In [45]:
df = rgc_mode.merge(rgc_tot, on='tour_d_rgc', how='left')
df['mode_share_trips_to_rgc'] = df['toexpfac_x']/df['toexpfac_y']

In [50]:
df[['tour_d_rgc','tmodetp','mode_share_trips_to_rgc']]

           tour_d_rgc  tmodetp  mode_share_trips_to_rgc
0              Auburn     Bike                 0.011526
1              Auburn     HOV2                 0.165477
2              Auburn    HOV3+                 0.080132
3              Auburn     Park                 0.025247
4              Auburn      SOV                 0.641603
..                ...      ...                      ...
318  University Place     Park                 0.014462
319  University Place      SOV                 0.636638
320  University Place      TNC                 0.008436
321  University Place  Transit                 0.020187
322  University Place     Walk                 0.028020

[323 rows x 3 columns]

In [56]:
pd.pivot_table(df,index='tour_d_rgc', columns='tmodetp', aggfunc='sum')[['mode_share_trips_to_rgc']].to_clipboard()

In [57]:
# NOTE: I have renamed TNC to Other since it includes other modes. I beleive this was also done in the RTP

In [61]:
df_mode_tour.groupby('tmodetp').sum()[['toexpfac']]/df_mode_tour[['toexpfac']].sum()

            toexpfac
tmodetp
Bike        0.011740
HOV2        0.239151
HOV3+       0.211412
Park        0.006226
SOV         0.347652
School Bus  0.030221
TNC         0.015678
Transit     0.034177
Walk        0.103741

In [64]:
df = df_mode_tour.groupby('tmodetp').sum()[['toexpfac']]/df_mode_tour[['toexpfac']].sum()
df.to_clipboard()